body {
background-color: #F5F5DC;
}
h1{
	color:green;
}
#map{
	height: 80%;
    width:75%;
	float:left;
	border:2px solid green;
	
}
.button{
	color: black;
	cursor: pointer;
	width:25%;
	height: 50px;
	font-size:15px;
	font-weight:bold;
	border: 2px solid green;
	border-radius: 50%;
	text-align:center;
	}

@media screen and (max-width: 520px) {
  .button{
    color: black;
	width:70%;
	height: 50px;
	font-size:20px;
	text-align:center;
	display:block;
	
  }
 body {
background-color: #5F9EA0;
}
h1{
	color:black;
	text-align:left;
}
#map{
	height: 80%;
    width:90%;
	border:2px solid green;
}